<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>
<main>
    <form action="/add-product" method="post">
        <label>Product
            <input type="text" name="product"/>
        </label>
        <button type="submit">Submit</button>
    </form>
</main>
</body>
</html>