<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        title #{docTitle}
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/forms.css")
        link(rel="stylesheet" href="/css/product.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/") My Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
        h1 Page Not found !
